body {
  box-sizing: border-box;
  margin: 30px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  border: 1px solid black;
}

div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-items: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #000;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}
